/build/
target/
.idea/
*.iml
.classpath
.project
.settings/
.DS_Store
*~
packages/
**/dependency-reduced-pom.xml
/skywalking-agent/
/dist/apache-skywalking-apm-incubating/
/dist/apache-skywalking-apm-incubating.tar.gz
/dist/apache-skywalking-apm-incubating.zip
/docker/snapshot/*.gz